<%include include/head.html>
<h1>WoTNS</h1>
<p>Yay, Index!</p>

<%foreach enabledIdentities identity>
	<%first>
		<h1>Enabled Identities</h1>
	<%/first>
	<form action="enableIdentity.html" method="post">
		<input type="hidden" name="formPassword" value="<%formPassword|html>"/>
		<input type="hidden" name="ownIdentity" value="<%identity.id|html>"/>
		<a href="manage.html?ownIdentity=<%identity.id|html>"><%identity.nickname|html></a>
		<button type="submit" name="disable">Disable</button>
	</form>
<%/foreach>

<%foreach disabledIdentities identity>
	<%first>
		<h1>Disabled Identities</h1>
	<%/first>
	<form action="enableIdentity.html" method="post">
		<input type="hidden" name="formPassword" value="<%formPassword|html>"/>
		<input type="hidden" name="ownIdentity" value="<%identity.id|html>"/>
		<%identity.nickname|html>
		<button type="submit" name="enable">Enable</button>
	</form>
<%/foreach>
<%include include/tail.html>