<%include include/head.html>
<h1>WoTNS</h1>
<p>The Web of Trust Service uses properties of Web of Trust identities to implement a DNS-like scheme on top of Freenet.</p>
<p>The general syntax is: <code>http://<%request.host>/tns/<i>identity</i>/<i>target</i></code>.</p>
<p><i>identity</i> is the nickname of a Web of Trust identity, such as “WoTNS”. It is also possible to include the beginning of the identity’s
key into <i>identity</i>, in the form of <i>nickname@start-of-key</i>, such as “WoTNS@DAx”.</p>
<p>The <i>target</i> consists of a name chosen by the remote identity. It can consist of latin latters, digits, and periods (and the final name
has to fulfill the Web of Trust’s requirement for a valid property name.</p>
<p>To be able to add targets for one of your identities, you first have to create an identity using the <a href="/WebOfTrust/">Web of Trust</a>,
and you have to enable the identity here.</p>

<%foreach enabledIdentities identity|sort>
	<%first>
		<h1>Enabled Identities</h1>
	<%/first>
	<form action="enableIdentity.html" method="post">
		<input type="hidden" name="formPassword" value="<%formPassword|html>"/>
		<input type="hidden" name="ownIdentity" value="<%identity.id|html>"/>
		<a href="manage.html?ownIdentity=<%identity.id|html>"><%identity.nickname|html></a>
		<button type="submit" name="disable">Disable</button>
	</form>
<%/foreach>

<%foreach disabledIdentities identity|sort>
	<%first>
		<h1>Disabled Identities</h1>
	<%/first>
	<form action="enableIdentity.html" method="post">
		<input type="hidden" name="formPassword" value="<%formPassword|html>"/>
		<input type="hidden" name="ownIdentity" value="<%identity.id|html>"/>
		<%identity.nickname|html>
		<button type="submit" name="enable">Enable</button>
	</form>
<%/foreach>
<%include include/tail.html>